//Colors
$color-primary : #B2D7F2;
$color-primary-light: #B2D7F2;
$color-primary-dark:rgb(46, 147, 220);

$color-secondary-light:#FF6F61;
$color-secondary-dark: #FF0000;

$color-tertiary-light:#8EDE83;
$color-tertiary-dark: #3FE509;


$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #ffff;
$color-black: black;
$color-grey-light-1: #f7f7f7;


//font
$default-font-size: 1.6rem;

//Grid widths
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;





