.feature-box{
    background-color: rgba($color-white ,.8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    transition:  0.4s;

    @include respond(tab-port){

        padding: 2rem;

    }
    &__icon{
        background-image: linear-gradient(to right, $color-primary-light,$color-primary-dark);
        -webkit-background-clip: text;
        color:transparent;
        display: inline-block;
        font-size: 5rem;
        @include respond(tab-port){
            margin-bottom: 0;
        }
       
    }

    &__text{

    }
    &:hover{
        transform: translateY(-2px)scale(1.04);
    }
}