
*,
*::after,
*::before { 
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
/* SET MAIN PX MEASUREMENT */
html{
    // font-size: 10px;
    font-size: 62.5%;
    //width < 900?
    @include respond(tab-land){  
        font-size: 56.25%;  // 1 rem = 9px, 9/16 = %0%
    }
    //width < 600?
    @include respond(tab-port){
        font-size: 50%; // 1 rem = 8px, 8/16 = %0%
    }

    @include respond(phone){
        font-size: 30%;
    }
   
    @include respond(big-desktop){
        font-size: 75%;
    }



}

body{
    padding:3rem;
    box-sizing: border-box;

    @include respond(tab-port){
        padding: 0; // 1 rem = 8px, 8/16 = %0%
    }

   
}